body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.navbar {
    position: sticky;
    top: 0;
    background: rgba(255, 255, 255, 0.9); 
    backdrop-filter: blur(10px); 
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar a {
    margin-right: 20px;
    text-decoration: none;
    color: #333;
    font-weight: normal;
    transition: color 0.3s; 
}

.navbar a:hover {
    font-weight: bold;
}

.search-input {
    padding: 8px;
    background-color: #f5f5f5;
    color: #333;
    border: 1px solid #333;
    border-radius: 5px;
    margin-right: 15px;
    width: 300px;
    transition: border-color 0.3s; 
}

.search-input::placeholder {
    color: #999;
}

.navbar button {
    background-color: transparent;
    color: #333;
    border: 1px solid #333;
    padding: 8px 15px;
    cursor: pointer;
    transition: border-radius 0.3s, color 0.3s; 
}
.navbar button:hover {
    border-radius: 5px;
    color: #fff;
}

/* Header Styles */
.header {
    background: url('https://images.pexels.com/photos/1303088/pexels-photo-1303088.jpeg') center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
    color: #fff;
}

.header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.header p {
    max-width: 600px;
    margin-top: 20px;
    font-size: 1.2em;
}

.header button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    cursor: pointer;
    transition: background-color 0.3s, border-radius 0.3s;
}

.header button:hover {
    background-color: #fff;
    color: #333;
    border-radius: 10px;
}
/* Second Section Styles */
.one h2{
    padding-top: 50px;
    text-align: center;
    text-underline-position: below black;

}
.section {
    display: flex;
    justify-content:space-evenly;
    padding: 50px;
}

.box {
    width: 350px;
    height: 450px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin-bottom: 20px; 
}

.box img {
    width: 100%;
    height: auto;
}

.box h2, .box p {
    margin: 5px 15px;
}

.box button {
    padding: 10px 30px;
    margin: 5px 15px;
    background-color: #D10000; 
    color: #fff;
    border: 1px solid #D10000; 
    cursor: pointer;
    transition: border-radius 0.3s; 
}

.box button:hover {
    border-radius: 10px; 
}

/* Third Section Styles */
.new h2{
    padding-top: 50px;
    text-align: center;
    text-underline-position: below black;

}
.third-section {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: auto;
    justify-content: space-between;
    padding: 50px;
    box-sizing: border-box;
    background-color: antiquewhite;
    
}

.third-box {
    
    height: 500;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    margin: 20px;

}

.third-box img {
    width: 100%;
    height: 75%;
    position: relative;
    left: 0;
    top: 0;
}

.third-box h3, .third-box p, .third-box .price {
    position: relative;
    left: 10px; 
    margin: 5px;
}

.third-box-buttons {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    display: flex;
    justify-content: space-between;
}

.third-box-buttons button {
    padding: 10px 30px;
    cursor: pointer;
    transition: border-radius 0.3s; 
}

.third-box-buttons .buy-now-btn {
    background-color: #D10000; 
    color: #fff;
    border: none;
}

.third-box-buttons .add-to-cart-btn {
    padding: 10px 20px;
    background-color: #fff; 
    color: #D10000; 
    border: 1px solid #D10000;
} 
.third-box-buttons button:hover {
    border-radius: 10px; 
}
.see-all-button {
    margin: 20px auto;
    margin: bottom 50px; ;
    padding: 10px 30px;
    background-color: #D10000; 
    color: #fff;
    border: none;
    cursor: pointer;
    display: block;
}
.see-all-button:hover{
    border-radius: 10px;
}

/* Fourth Section Styles */
.new h2{
 text-align: center;
 margin-top: 10px;
}
.fourth-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 50px;
    padding-top: 20px;
    box-sizing: border-box;
}

.fourth-box {
    width: 400px;
    height: 700px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin-bottom: 20px; 
}

.fourth-box img {
    width: 100%;
    height: 75%;
    object-fit: cover;
}

.fourth-box-content {
    padding: 20px;
    box-sizing: border-box;
}

.fourth-box h3, .fourth-box p {
    margin: 10px 0;
}

/* Fifth Section Styles */
.fifth-section {
    
    width: 800px;
    height: 400px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
   margin: 0 auto;
   margin-bottom: 100px;

}

.fifth-box-content {
    width: 70%;
    
}

.fifth-box h2 {
    margin-bottom: 10px;
}

.email-input {
    width: 70%;
    padding: 10px;
    background-color: #fff; 
    border: 1px solid #ddd;
    border-radius: 5px; 
    margin-right: 10px;
}

.subscribe-btn {
    padding: 10px 20px;
    background-color: #D10000; 
    color: #fff;
    border: none;
    cursor: pointer;
    transition: border-radius 0.3s; 
}

.subscribe-btn:hover {
    border-radius: 10px; 
}

/* Footer Styles */
.footer {
    background-color: #000000;
    color: #fff;
    padding: 20px;
  }
  
  .heading h2 {
    margin: 0;
  }
  
  .heading sup {
    font-size: 14px;
  }
  
  .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .services,
  .social-media,
  .links,
  .details {
    flex: 1;
    margin-right: 20px;
  }
  
  .services h4,
  .social-media h4,
  .links h4,
  .details h4 {
    margin-bottom: 10px;
  }
  
  .services p,
  .social-media p,
  .links p,
  .details p {
    margin: 0;
  }
  
  .services a,
  .social-media a,
  .links a,
  .details a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .services a:hover,
  .social-media a:hover,
  .links a:hover,
  .details a:hover {
    text-decoration: underline;
  }
  
  footer {
    margin-top: 20px;
    text-align: center;
    color: #fff;
  }
  
  hr {
    border: 1px solid #fff;
  }
 
@media only screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: stretch;
    }

    .navbar a {
        margin: 5px 0;
    }

    .search-input {
        width: 100%;
        margin-right: 0;
    }

    .navbar button {
        margin-right: 5px;
    }

    .header {
        padding: 50px;
        text-align: left;
    }

    .header h1 {
        font-size: 2em;
        margin-bottom: 10px;
    }

    .header p {
        max-width: 100%;
    }

    .header button {
        margin-top: 20px;
    }

    .section {
        flex-direction: column;
        padding: 20px;
    }

    .box {
        width: 100%;
        margin-bottom: 20px;
    }

    .third-section {
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;
    }

    .third-box {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .third-box img {
        height: 50%;
    }

    .see-all-button {
        margin-bottom: 20px;
    }

    .fourth-section {
        flex-direction: column;
        padding: 20px;
    }

    .fourth-box {
        width: 100%;
        margin-bottom: 20px;
    }

    .fifth-section {
        flex-direction: column;
        padding: 20px;
    }

    .email-input {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .subscribe-btn {
        width: 100%;
    }
}

body {
    font-size: 16px;
}


@media screen and (max-width: 1199px) {
    body {
        font-size: 14px;
    }

    .navbar {
        padding: 10px;
    }

    .navbar a {
        margin-right: 10px;
    }

    .search-input {
        width: 150px;
    }

    
}
@media screen and (max-width: 767px) {
    body {
        font-size: 12px;
    }

    .navbar {
        flex-direction: column;
        align-items: stretch;
    }

    .navbar a {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .search-input {
        width: 100%;
        margin-right: 0;
    }

    .navbar button {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .header h1 {
        font-size: 2em;
    }

    .header p {
        font-size: 1em;
    }

    .header button {
        margin-top: 10px;
        padding: 10px 15px;
    }

    .box {
        width: 100%;
        margin-bottom: 10px;
    }

    .box button {
        padding: 10px 15px;
    }

    .third-box {
        width: 100%;
        height: auto;
    }

    .third-box img {
        height: 50%;
    }

    .third-box h3,
    .third-box p,
    .third-box .price {
        left: 0;
    }

    .content {
        flex-direction: column;
        margin-top: 10px;
    }

    .services,
    .social-media,
    .links,
    .details {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .footer {
        padding: 10px;
    }
}



